nav.navbar {
  display: flex;
  justify-content: space-around;
}

.card-container {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.vaccined {
  background-color: beige;
}

.notVaccined {
  background-color: rgb(222, 175, 158);
}